.rightButton {
  padding: 10px 20px;
  margin: 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 30%);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.rightButton:hover {
  background-color: #45a049;
  box-shadow: 4px 4px 10px rgb(0 0 0 / 30%);
}

.rightButton:active {
  background-color: #3e8e41;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 20%);
}

@media (width >= 768px) {
  .rightButton {
    float: right;
  }
}

.centerButton {
  display: block;
  padding: 10px 20px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 30%);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.centerButton:hover {
  background-color: #45a049;
  box-shadow: 4px 4px 10px rgb(0 0 0 / 30%);
}

.centerButton:active {
  background-color: #3e8e41;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 20%);
}
